<center>
  <nav class="navbar navbar-inverse form-group w3-animate-opacity"><br>
    <ul>

      <input class="form-control w3-animate-zoom" id="search" type="text" ng-model="search"  placeholder="Search..">
<!--            <div>
      <input type="text" placeholder="type your name to get replies" ng-model="pname" required/>
      <button>Get replies</button>
    </div> -->
    </ul>
    <div class="container">
  <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Get replies</button>
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
                    <input type="text" placeholder="Your name here.." ng-model="pname" required/>
                  <!-- display-replies -->
                 <div>
                   <ul>
                     
                   </ul>
                 </div>
                  
        </div>
        <div class="modal-footer">

          <button type="button" class="btn btn-default" ng-click="recieveReply()" ng-init="loadPage()" >GET</button>
        </div>
      </div>
      
    </div>
  </div>
    <br></nav>
  </center>
  <!-- Styling for search -->
  <style>
  #search[type=text] {
    width: 230px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
  #search[type=text]:focus {
    width: 50%;
  }
</style>

<center>
  <div ng-controller="AppCtrl" ng-init="loadPage()" id="portfolio" class="container-fluid text-center ">
    <div class="row slide">
      <div id="doctor" ng-repeat="doctor in doctors | filter : search" class="container w3-animate-zoom media well well-fuild col-lg-6 col-lg-offset-3 col-md-6 col-sm-12" >
  <div id="mainpage" ng-controller="AppCtrl" ng-init="loadPage()">
   <div style="margin-left: 2em">
      <div ng-show="true" class="media well well-fuild col-lg-6 col-lg-offset-3 col-md-6 col-sm-12" >
         <div class="media-left media-top">
            <div class="media-left">
               <img ng-src="{{'/uploads/' + doctor.image}}" class="media-object" style="width:80px" data-toggle="modal" data-target="#myAppointments" ng-click="getDoctorData(doctor.username)"/>
            </div>
            <div class="media-body">
               <h1 class="media-heading">Doctor: {{doctor.username}}</h1>
               <h4>
                  Phone: {{doctor.phoneNumber}}
               </h4>
               <h4>
                  Specialization: {{doctor.specilization}}
               </h4>
               <h4>
                Location: {{doctor.location}}
              </h4>
            </div>
         </div>
      </div>
   </div>
   <!-- Modal addAppointments -->
   <!-- <div id="appointmentModal"></div> -->
   <!-- ng-init="getDoctorData('admin')" -->
   <div class="modal fade" id="myAppointments" role="dialog">
     <div class="modal-dialog">
       <div class="modal-content">
         <div class="modal-body">
           <div class="media-left media-top">
             <div class="media-left">
               <img ng-src="{{'/uploads/' + currentDoctor.image}}" class="media-object" style="width:80px" data-toggle="modal" data-target="#myAppointments"/>
             </div>
             <div class="media-body">
               <h1 class="media-heading">Doctor: {{currentDoctor.username}}</h1>
               <p>
                 Phone: {{currentDoctor.phoneNumber}}
               </p>
               <p>
                 Specialization: {{currentDoctor.specilization}}
               </p>
               <div class="row">
                 <div class="col-lg-8">
                   <label>Appointments</label>
                   <select class="selectpicker" ng-model="timeA" ng-change="selectedValue()"><option ng-repeat="app in currentDoctor.availableAppointments">{{app.time}} {{app.date}} {{case}}</option></select>
                   <div class="form-group">
                     <label for="usr">Name:</label> <input id="pName"
                     type="text" ng-model="nameVal" class=
                     "form-control" required="required"/>
                   </div>
                   <div class="form-group">
                     <label for="pwd">Phone:</label> <input id="pPhon"
                     type="text" class="form-control" ng-model=
                     "phoneVal" required="required"/>
                   </div>
                   <div class="form-group">
                     <label for="pwd">My case:</label> <textarea id="pcase"
                     type="text" class="form-control" ng-model=
                     "caseVal" required="required"></textarea>
                   </div>

                   <br />
                   <!-- <span id="doctorName"><font color=
                   "white">{{doctor.name}}</font></span> -->
                   <div class="modal-footer">
                     <button type="submit" class="btn btn-success" ng-click="reserveAppointment(timeVal)" data-dismiss="modal">Submit</button>
                     <button data-target="#addReview" class="btn btn-success" data-dismiss="modal" data-toggle="modal" id="addReviewButt" ng-click="sendReview()">Add review</button>
                   </div>

                   <div class="form-group" id="addReview" role="dialog">
                      <label for="comment">If you have feedback you can add it here:</label>
                      <textarea class="form-control" rows="5" id="review"></textarea>
                   </div>
                 </div>
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
   <!-- </div><button ng-click="loadPage()" class="btn btn-danger">GetDoctors</button></div> -->
</div>
</div>
</div>
</center>
